@media (max-width: 767.98px) {
  div img.titulo {
    min-width: 250px;
    max-width: 350px;
  }
  footer div a {
        font-size: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  div img.titulo {
    min-width: 250px;
    max-width: 550px;
  }
  footer div a {
    font-size: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    div img.titulo {
        min-width: 600px;
        max-width: 750px;
      }
}
@media (min-width: 1200px) {
    div img.titulo {
        max-width: 750px;
      }
}

footer div a {
    color: #f5f5f5;
    font-weight: 900;
    text-decoration: none;
}

footer div a:hover {
    color: #bfde42;
}