nav.navbar a {
    text-decoration: none;
    color: #fbf976;
    padding: 0rem 1rem 0rem 1rem;
    font-size: x-large;
}
nav.navbar {
    border-bottom: 1px solid #a9d3e9;
}
nav.navbar a:hover {
    opacity: 0.7;
}
nav.navbar a.active {
    color: #5cbb47;
}
